<h1>Выбор моделей</h1>

<div id='content'>
  <p>
    <button id="btn-refresh" type="button">Refresh</button>
  </p>
  <p>
    <label for="phone-select">Choose:</label>
    <select name="items" id="phone-select">
      <option value="">--Please choose an option--</option>
      <option value="1">Samsung</option>
      <option value="2">Apple</option>
      <option value="3">Asus</option>
      <option value="4">Huawei</option>
      <option value="5">Lenovo</option>
      <option value="6">LG</option>
    </select>
  </p>
  <p>
    <input type="checkbox" id="confirm" name="confirm">
    <label for="confirm">Confirm</label>
  </p>
  <p>
    <button id="btn-select" type="button">Select</button>
  </p>

</div>
